footer {
  background: #333333;
  padding: 0 10px 18px;

  .wrapper-footer {
    max-width: 1140px;
    color: #ffffff;
    margin: 0 auto;


    .wrapper-footer-contacts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .address, .telephone, .wrapper-social-contacts {
        margin: 10px;
      }

      .wrapper-social-contacts {
        width: 180px;

        .wrapper-social-icons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;

          a:hover {
            opacity: 1;
          }

          .social-vk, .social-facebook, .social-instagram {
            display: block;
            opacity: 0.7;
            transition: 0.5s;
          }

          .social-vk {
            background: url("../images/vk-social-network-logo.svg");
            background-size: contain;
            height: 50px;
            width: 50px;
          }

          .social-facebook {
            background: url("../images/facebook-logo.svg");
            background-size: contain;
            height: 33px;
            width: 33px;

          }

          .social-instagram {
            background: url("../images/instagram.svg");
            background-size: contain;
            height: 35px;
            width: 35px;
          }
        }
      }
    }

    .copyright {
      font-size: 12px;
    }
  }
}